@model RolandGarros.Models.JoueurDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Joueur</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Prenom)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Prenom)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nationalite)
                </dt>
                <dd class="col-sm-8">
                    @{
                        string imageDrapeau = "/images/flags/" + Model.Nationalite.Alpha2 + ".svg";
                    }
                    <img src="@imageDrapeau" width="25" />
                    @Html.DisplayFor(model => model.Nationalite.NomFrFr)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Sexe)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Sexe)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.DateNaissance)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.DateNaissance)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Classement)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Classement)
                </dd>
            </dl>
        </div>
        <div class="col-lg-6">
            @if(Model.PhotoUrl!=null)
            {
                <img src="@Model.PhotoUrl" height="300px" style="text-align:left" />
            }else
            {
                @if(Model.Sexe==RolandGarros.Entities.Sexe.Homme)
                {
                    <img src="~/images/profile-man.svg" height="300px" style="text-align:left" />
                }else
                {
                    <img src="~/images/profile-woman.png" height="300px" style="text-align:left" />
                }
                
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
