@model IEnumerable<RolandGarros.Models.MatchsListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetsGagnesPourJoueur1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetsGagnesPourJoueur2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @{
                        string imageDrapeau = "/images/flags/" + item.Joueur1.Nationalite.Alpha2 + ".svg";
                    }
                    <img src="@imageDrapeau" width="25" />
                    @Html.DisplayFor(modelItem => item.Joueur1.Prenom)
                    @Html.DisplayFor(modelItem => item.Joueur1.Nom)
            </td>
            <td>
                @if(item.SetsGagnesPourJoueur1!=null)
                {
                    @Html.DisplayFor(modelItem => item.SetsGagnesPourJoueur1)
                }else
                {
                    <span>-</span>
                }
            </td>
            <td>
                @{
                    imageDrapeau = "/images/flags/" + item.Joueur2.Nationalite.Alpha2 + ".svg";
                }
                <img src="@imageDrapeau" width="25" />
                @Html.DisplayFor(modelItem => item.Joueur2.Prenom)
                @Html.DisplayFor(modelItem => item.Joueur2.Nom)
            </td>
            <td>
                @if (item.SetsGagnesPourJoueur2 != null)
                {
                    @Html.DisplayFor(modelItem => item.SetsGagnesPourJoueur2)
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
